<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container">

   <nav class="navbar">
      <span><%= link_to "Home", articles_path%></span>
      <span><%= link_to "Historique", history_path %></span>
      <span>Contact</span>
      <span class="search-item"><i class="fas fa-search"></i>Search</span>
  </nav>

  <h3 class="article-title-show">Historique des articles</h3>
  <ul>
    <% @years.each do |year| %>
      <li class="article-date-show"><%= year %></li>
      <% @articles.each do |article, year| %>
        <ul>
          <li class="article-content"><%= link_to article.title, article_path(article) %></li>
        </ul>
      <% end %>
    <% end %>
  </ul>
</div>
