<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container">

  <div class="navbar">
    <ul>
      <li><%= link_to "Home", articles_path%></li>
      <li><%= link_to "Historique", history_path %></li>
      <li>Contact</li>
      <li class="search-item"><i class="fas fa-search"></i>   Search</li>
    </ul>
  </div>

  <% @articles.each do |article| %>
    <div class="article-card">
      <div class="article-info">
        <ul>
          <li>
            <p class="article-date"><%= article.date.strftime('%d %b %Y').upcase%></p>
            <p class="article-title"><%= link_to article.title, article_path(article) %></p>
            <p class="article-content"><%= link_to article.content, article_path(article) %></p>
          </li>
        </ul>
      </div>
      <%= image_tag('article_image.jpg') %>
    </div>
  <% end %>

  <div class="article-card">
      <div class="article-info">
        <ul>
          <li>
            <p class="article-date">11 AUG 2022</p>
            <p class="article-title">Lorem ipsum dolor sit.</p>
            <p class="article-content">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. In nec metus elit. Aliquam neque lectus, molestie sed dui in, accumsan mollis orci. Sed scelerisque lobortis posuere. Sed nec nunc eget est ultrices egestas. Etiam porta facilisis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam dignissim velit a molestie laoreet. Etiam elementum varius facilisis. Duis pharetra sodales varius. Suspendisse faucibus lectus eu ante porta ultricies. Morbi volutpat pharetra purus in ultricies. Quisque non rutrsdfghj gfdxcvghb oiuythjn kijuhb Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. In nec metus elit. Aliquam neque lectus, molestie sed dui in, accumsan mollis orci. Sed scelerisque lobortis posuere. Sed nec nunc eget est ultrices egestas. Etiam porta facilisis rhoncus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam dignissim velit a molestie laoreet. Etiam elementum varius facilisis. Duis pharetra sodales varius. Suspendisse faucibus lectus eu ante porta ultricies. Morbi volutpat pharetra purus in ultricies. Quisque non rutr... LIRE LA SUITE</p>
          </li>
        </ul>
      </div>
      <%= image_tag('article_image.jpg') %>
    </div>
</div>
