<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container">

  <nav class="navbar">
      <span><%= link_to "Home", articles_path%></span>
      <span><%= link_to "History", history_path %></span>
      <span>Contact</span>

      <%= form_with url: articles_path, method: :get, class: "d-flex search-item" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control search-item",
          placeholder: "Find an article"
        %>
        <%= submit_tag "Search", class: "search-item" %>
        <span class="search-item"><i class="fas fa-search"></i><input type="submit", name="commit" value="Search" class="search-item" data-disable-with="Search">Search</span>
      <% end %>

      <span class="search-item"><i class="fas fa-search"></i>Search</span>
  </nav>
</div>

  <% @articles.each do |article| %>
    <div class="article-card">
      <div class="article-info">
        <p class="article-date"><%= article.date.strftime('%d %b %Y').upcase%></p>
        <p class="article-title"><%= link_to article.title, article_path(article) %></p>
        <p class="article-content"><%= link_to article.content.slice!(0..444), article_path(article) %>... LIRE LA SUITE</p>
      </div>
      <%= image_tag('article_image.jpg') %>
    </div>
  <% end %>
