<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container">

  <div class="navbar">
    <ul>
      <li><%= link_to "Home", articles_path%></li>
      <li><%= link_to "Historique", history_path %></li>
      <li>Contact</li>
      <li class="search-item"><i class="fas fa-search"></i>   Search</li>
    </ul>
  </div>

  <ul>
    <% @articles.each do |article| %>
      <div class="article-card">
        <ul class="article-list">
          <li>
            <p class="article-date"><%= article.date.strftime('%d %b %Y').upcase%></p>
            <p class="article-title"><%= link_to article.title, article_path(article) %></p>
            <p class="article-content"><%= link_to article.content, article_path(article) %></p>
          </li>
        </ul>
      </div>
    <% end %>
  </ul>
</div>
