<!-- Banner -->
<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container">

  <nav class="navbar">
    <span><%= link_to "Home", articles_path%></span>
    <span><%= link_to "History", history_path %></span>
    <span>Contact</span>

    <!-- Searchbar -->
    <%= form_with url: articles_path, method: :get, class: "d-flex search-item" do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find an article"
      %>
      <i class="fas fa-search"><input type="submit", value="Search"name="commit" class="search-item" data-disable-with="Search"></i>
    <% end %>

    <!-- LogIn dropdown button -->
    <div class="dropdown">
      <button class="login-button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Log In</button>
      <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/articles/new">Publish a new article</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Log Out</a></li>
      </ul>
    </div>
  </nav>

  <p class="article-title-show">Publish a new post</p>

  <!-- Article creation form -->
  <%= form_with model: @article, class: :"article-form" do |f| %>
  <%= f.hidden_field :date, value: Date.today %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :content, value: "Post description" %>
  <%= f.rich_text_area :content, class: "form-control" %> <!--Field with editing features-->
  <%= f.submit value:"Publish your article", class:"login-button" %>
<% end %>

</div>
