<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container">

  <div class="navbar">
    <ul>
      <li><%= link_to "Home", articles_path%></li>
      <li><%= link_to "Historique", history_path %></li>
      <li>Contact</li>
      <li class="search-item"><i class="fas fa-search"></i>   Search</li>
    </ul>
  </div>
  <h2><%= @article.date %></h2>
  <p><%= @article.title %></p>
  <p><%= @article.content %></p>
</div>
