<div class="banner">
  <h1>About me</h1>
  <div class="about-me-box">
    <h2>About me</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam pretium hendrerit enim. </p>
  </div>
  <%= image_tag('banner.jpg') %>
</div>

<div class="container-sm">

  <nav class="navbar">
      <span><%= link_to "Home", articles_path%></span>
      <span><%= link_to "Historique", history_path %></span>
      <span>Contact</span>
      <span class="search-item"><i class="fas fa-search"></i>Search</span>
  </nav>

  <p class="article-date-show"><%= @article.date.strftime('%d %b %Y').upcase%></p>
  <p class="article-title-show"><%= @article.title %></p>
  <%= image_tag('article_image.jpg', class:"article-image-show") %>
  <p class="article-content"><%= @article.content %></p>
</div>
